.xraySticky {
  :global {
    .lockup-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: grid;
      .lockup {
        font-size: 17px;
        margin-inline: auto;

        width: 980px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        pointer-events: auto;
        grid-area: 1/1/2/2;
        align-items: center;
        height: 100%;
      }
    }

    .lockup-particles {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;

      .particles-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .particles-endframe {
            width: 1440px;
            height: 1050px;
            position: relative;
        }

        .particles-video {
            width: 1440px;
            height: 1050px;
            position: relative;
        }
      }
    }

    .xray-airpod {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 522px;

      img {
        position: relative;
      }

      &:not(.xray-airpod-1) {
        opacity: 0;
      }

      &.xray-airpod-1,
      &.xray-airpod-2,
      &.xray-airpod-3 {
        img {
          left: 7px;
          width: 368px;
          height: 522px;
        }
      }

      &.xray-airpod-2,
      &.xray-airpod-3 {
        img {
          left: -34px;
          mask-image: url("/assets/airpods/overview/audio_airpod_mask__c3ed1snibvo2_large.png");
          mask-repeat: no-repeat;
          -webkit-mask-image: url("/assets/airpods/overview/audio_airpod_mask__c3ed1snibvo2_large.png");
          -webkit-mask-repeat: no-repeat;
        }
      }
    }
    .copy {
      display: flex;
      align-items: center;
      grid-row: 1 / span 1;
      grid-column: 1 / span 4;
      padding-right: 8%;
      opacity: 0;
      p {
        font-size: 21px;
        line-height: 1.1904761905;
        font-weight: 600;
        letter-spacing: 0.011em;
        font-family: var(--font-family-display);
        color: #6e6e73;
        margin: 0;
        padding: 0;

        strong {
          color: #f5f5f7;
          &.green-text {
            color: #00ff41;
          }
        }
      }

      &.guts-3 {
        padding-left: 8%;
        padding-right: 0;
        grid-column-start: 9;
      }
    }
  }
}
