.sticky {
  :global {
    .hero {
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;

      .lockup {
        min-height: 41vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        width: 100%;
        top: var(--hero-offset);
        text-align: center;
      }

      .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        h1 {
          font-family: var(--font-family-display);
          font-size: 14.6vw;
          font-weight: 700;
          letter-spacing: -0.022em;
          margin: 0;
          opacity: 0;
          transform: scale(0.8);

          & :local {
            animation: titleMoveIn;
            animation-duration: 2000ms;
            animation-timing-function: cubic-bezier(0.79, 0.37, 0.21, 1);
            animation-fill-mode: forwards;
          }
        }
      }
    }
  }
}

.imageSequence {
  :global {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    position: absolute;
    top: 0;
    overflow: hidden;

    .hero {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: relative;
      padding-bottom: 34.8148148148%;
      --translate-offset: 8;
      transform: translateY(calc(var(--translate-offset) * 1%));

      canvas {
        width: 100%;
        opacity: 0;
        transform: scale(0.8);

        & :local {
          animation: canvasMoveIn;
          animation-duration: 2000ms;
          animation-timing-function: cubic-bezier(0.79, 0.37, 0.21, 1);
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

@keyframes titleMoveIn {
  30% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes canvasMoveIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
