$fonts-path: "/assets/fonts" !default;


@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  src: url($fonts-path + "/SF-Pro-Display/v3/sf-pro-display_medium.woff2")
  format("woff2");
  /* (C) 2019 Apple Inc. All rights reserved.
 */
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  src: url($fonts-path + "/SF-Pro-Display/v3/sf-pro-display_semibold.woff2")
  format("woff2");
  /* (C) 2019 Apple Inc. All rights reserved.
 */
}

@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 600;
  src: url($fonts-path + "/SF-Pro-Display/v3/sf-pro-display_semibold-italic.woff2")
  format("woff2");
  /* (C) 2019 Apple Inc. All rights reserved.
 */
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  src: url($fonts-path + "/SF-Pro-Display/v3/sf-pro-display_bold.woff2")
  format("woff2");
  /* (C) 2019 Apple Inc. All rights reserved.
 */
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url($fonts-path + "/SF-Pro-Display/v3/sf-pro-display_regular.woff2")
  format("woff2");
  /* (C) 2019 Apple Inc. All rights reserved.
 */
}


@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 200;
  src: url($fonts-path + "/SF-Pro-Text/v3/sf-pro-text_thin.woff2") format("woff2"),
    url($fonts-path + "/SF-Pro-Text/v3/sf-pro-text_thin.woff") format("woff"),
    url($fonts-path + "/SF-Pro-Text/v3/sf-pro-text_thin.ttf") format("truetype");
  /* (C) 2019 Apple Inc. All rights reserved.
 */
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  src: url($fonts-path + "/SF-Pro-Text/v3/sf-pro-text_semibold.woff2")
  format("woff2");
  /* (C) 2019 Apple Inc. All rights reserved.
 */
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  src: url($fonts-path + "/SF-Pro-Text/v3/sf-pro-text_regular.woff2")
  format("woff2");
  /* (C) 2019 Apple Inc. All rights reserved.
 */
}

@font-face {
  font-family: "SF Pro Icons";
  font-style: normal;
  font-weight: 600;
  src: url($fonts-path + "/SF-Pro-Icons/v3/sf-pro-icons_semibold.woff2")
  format("woff2");
  /* (C) 2019 Apple Inc. All rights reserved.
 */
}

@font-face {
  font-family: "SF Pro Icons";
  font-style: normal;
  font-weight: 400;
  src: url($fonts-path + "/SF-Pro-Icons/v3/sf-pro-icons_regular.woff2")
  format("woff2");
  /* (C) 2019 Apple Inc. All rights reserved.
 */
}
