@import 'fonts';
@import 'variables';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-text);
    font-size: var(--font-size);
    color: var(--color-contrast);
    background-color: var(--color-background-body);

    overflow-x: clip;
}